.programsSection {
  padding: 4rem 2rem;
}

.programsGrid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
@media (max-width: 768px) {
  .programsGrid {
    flex-direction: column;
  }
}

.programCard {
  background: white;
  border-radius: 10px;
  border: 5px solid #45ffca;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.programCard:hover {
  transform: translateY(-10px);
}

.icon {
  font-size: 2.5rem;
  color: #45ffca;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.description {
  color: #666;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}