.trainercard {
  display: flex;
  align-items: center;
  background: linear-gradient(-45deg, #45ffca, #000000, #45ffca);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.trainerimage {
  width: 300px;
  height: 400px;
  margin-right: 20px;
}

.trainercontent {
  flex: 1;
  color: #ffffff;
}

.trainername {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: center;
}

.trainername::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 5px auto;
  background-color: #ffffff;
}

.trainerdescription {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .trainercard {
    flex-direction: column;
    text-align: center;
  }

  .trainerimage {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
