.homePageContainer {
  padding: 20px;
}

.homePageHeading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: #45ffca;
}

.homePage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
  }
}
